*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.header_wrapper{
    background: url(../image/fon2.png) center/cover no-repeat;
}
.header{
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
    padding: 30px 0;
}
.header nav{
    height: 76px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header nav a{
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    text-decoration: none;
}
.header nav .ssilki a{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    margin-right: 43px;
}
.header p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.header h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 62px;
    line-height: 93%;
    text-align: center;
    color: #fff;
}
.header button, .match button, footer button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 157px;
    border: 1px solid white;
    outline: none;
    border-radius: 45px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}
.cell{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.reverse{
    display: flex;
    flex-direction: row-reverse
}
.cell img{
    width: 733px;
    height: 489px;
    border-radius: 34px;
}
.cell .text{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cell .text h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: #000;
}
.stat{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.stat li {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #000;
    padding-left: 50px;
    line-height: 46px; 
}

.stat li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #792A2A;
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 1px solid #000;
    padding-left: 30px;
    margin-left: 30px;
}
.info p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000;
}



.footer_wrapper{
    border-top: 1px solid #E5E5E5;
}
footer{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .footer_content .footer_text h5{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #161d2f;
}
footer .footer_content .footer_text p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 200%;
    color: #222;
}
footer button{
    border: 1px solid #161D2F;
    color: #161D2F;
    margin: 10px 0;
}
footer .footer_content .footer_nav{
    display: flex;
    gap: 50px;
}
footer .footer_content .footer_nav .footer_ssilki{
    display: flex;
    flex-direction: column;   
}
footer .footer_content .footer_nav .footer_ssilki h6{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #161d2f;
}
footer .footer_content .footer_nav .footer_ssilki a, footer .footer_content .footer_nav .footer_ssilki p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #222;
    text-decoration: none;
    margin: 5px 0;
}
.end{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    color: #222;
}